/* ------------ GOOGLE FONTS ------------ */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:wght@500&display=swap');

/* ------------ CUSTOM PROPERTIES ------------ */
:root{
    /* FONT */
    --fontLobster: 'Playfair Display', sans-serif;
    --fontNunito: 'Playfair Display', sans-serif;
    --fontMontserrat : 'Montserrat Display', sans-serif;

    /* COLORS */
    --White: #EEEDE7;
    --PrimaryColor: #728878;
}

/* ------------ ASSEGNAZIONE FONTS E COLORI------------ */

html {
    font-family: var(--fontNunito);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


a{
    text-decoration: none;
}

a.montserrat{
    font-family: var(--fontMontserrat);
}

a.green{
    color: var(--PrimaryColor);
}

a.semigreen{
    color: #B1BCB2;
}

a.white{
    color: white;
}

a.bold{
    font-weight: bold;
}

#navbar-scritta {
    pointer-events: none;
    cursor: default;
}


#navbar-scritta:hover, #navbar-scritta:focus {
    color: var(--PrimaryColor); /* Il colore che desideri per l'hover */;
}

h1, h2, h3 {
    font-family: var(--fontLobster);

}

h2, h3, h4, h5, p, li, a{
    color: var(--PrimaryColor);
}

li.montserrat{
    font-family: var(--fontMontserrat);
}

p.white{
    color: var(--White);
}

p.black{
    color: black;
}

p.bold{
    font-weight: bold;
}

p.montserrat{
    font-family: var(--fontMontserrat);
}

p.dic{
    font-size: 18px;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: clamp(2.133rem, 4vw + 1rem, 4.267rem);
    letter-spacing: 0.12rem;
}

h1.colored{
    color: var(--PrimaryColor);
}

h3.blank{
    color: var(--White);
}

h2 {
    font-size: clamp(1.75rem, 2vw + 1rem, 2.5rem);
    letter-spacing: 0.075rem;
}

h2.bold{
    font-weight: bold;
}

h2.montserrat{
    font-family: var(--fontMontserrat);
    font-weight: bold;
}

h4 {
    font-family: var(--fontNunito);
}

h4.montserrat{
    font-family: var(--fontMontserrat);
}

h4.trenta{
    font-size: 30px;
}

h4.white {
    color: var(--White);
    font: var(--fontMontserrat);
    font-weight: bold;
}

h5 {
    font-weight: normal;
}

h5.white{
    color: var(--White);
}

h5.montserrat{
    font-family: var(--White);
}

h5.small{
    font-size: 12px;
}

p, .menu_footer {
    font-size: clamp(0.875rem, 1vw + 1rem, 1.1rem);
}

p {
    letter-spacing: 0.00875rem;
}

.menu_footer {
    font-weight: 400;
    color: var(--White);
}

.small_copy {
    font-size: clamp(0.5rem, 2vw + 1rem, 1rem);
}

a.small_copy:hover {
    text-decoration: underline;
}

/*Si è deciso di assegnare il bold attraverso una classe e non con i tag <b> o <strong>
 per poter rendere più versatile e mantenibile il codice nel caso in cui avessimo deciso di modificare
 anche altre proprietà associate ai testi in grassetto*/
.strong_copy {
    font-weight: bold;
}

/*Icone social presenti nel footer*/
.fa-brands {
    color: var(--White);
}

/* ------------ HEADER ------------ */

#header_Riabilitazione_Ortopedica{
    background-image: url("../img/Riabilitazione ortopedica.png");
    background-position: center bottom;
    background-size: cover;
    height: 400px;
    position: relative;
}

#header_Riabilitazione_Neurologica{
    background-image: url("../img/Riabilitazione neurologica.png");
    background-position: center bottom;
    background-size: cover;
    height: 400px;
    position: relative;
}

#header_Drenaggio_Linfatico_Manuale{
    background-image: url("../img/Drenaggio linfatico manuale.png");
    background-position: center bottom;
    background-size: cover;
    height: 400px;
    position: relative;
}

#header_Massaggio_Thailandese{
    background-image: url("../img/Massaggio Tailandese.png");
    background-position: center bottom;
    background-size: cover;
    height: 400px;
    position: relative;
}

#header_Massaggio_Tuina{
    background-image: url("../img/Massaggio Tuina.png");
    background-position: center bottom;
    background-size: cover;
    height: 400px;
    position: relative;
}

#header_Tecniche_di_rilassamento{
    background-image: url("../img/Tecniche di rilassamento.png");
    background-position: center bottom;
    background-size: cover;
    height: 400px;
    position: relative;
}



#brand_name {
    text-align: center;
    z-index: 1;
}

#logo {
    position: relative;
    display: block;
    margin-top: 10%;
    margin-bottom: 0;
    margin-inline: auto;
}

/* ------------ HEADER PARALLAX ------------ */
/*Solo nella Homepage del sito si ha un effetto parallasse, con una Hero più ampia che comprene anche uno slogan e una CTA*/

#header_parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header_parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#header_parallax #logo{
    position: relative;
    max-width: 8em;
    max-height: 8em;
    z-index: 1;
    display: block;
    margin: 0;
}

#header_parallax #brand_name {
    position: relative;
    text-align: center;
}

/* ------------ NAVBAR ------------ */

/*DA RIGUARDARE*/
@media only screen and (min-width:992px) {
    .navbar-expand-lg .offcanvas {
        position: absolute;
    }
}

@media only screen and (min-width:992px) { /* Adatta il valore 768px in base alle tue esigenze */
    #navbar-scritta {
        text-align: center;
        display: block;
    }
}


.navbar-toggler .fa-bars, .navbar a.dropdown-toggle, .navbar .nav-link.active {
    color: var(--White); /* Colore per l'icona hamburger menu */
}

.navbar-toggler .fa-bars.colored, .navbar a.dropdown-toggle.colroed, .navbar .nav-link.active.colored {
    color: var(--PrimaryColor); /* Colore per l'icona hamburger menu */
}


/* utile per rimuovere il colore di sfondo del bottone close della barra mobile quando tieni premuto*/
.btn-close-white:hover {
    background-color: transparent;
}
/* utile per rimuovere il colore di sfondo del bottone hamburger della barra mobile quando tieni premuto*/
.navbar-toggler:hover {
    background-color: transparent;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar a.dropdown-menu {
    background: var(--White);
}

.navbar a.dropdown-item {
    background-color: transparent;
    color: #0c0725;
    position: relative;
    display: inline-block;
    width: auto;
    padding: 8px;
}

.navbar .dropdown-menu a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--PrimaryColor);
    transition: width 0.3s ease;
}

.navbar .dropdown-menu a:hover::before,
.navbar .dropdown-menu a:focus::before {
    width: 100%;
    color: #0c0725;
}

.navbar a.dropdown-item:hover,
.navbar a.dropdown-item:focus {
    background-color: transparent;
    color: var(--PrimaryColor);
}

.nav-item a{
    color: var(--White);
    position: relative;
    display: inline-block;
}

.nav-item a.colored {
    color: var(--PrimaryColor);
}

.nav-item a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--White);
    transition: width 0.3s ease; /* Imposta la transizione */
}

.nav-item a.colored::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--PrimaryColor);
    transition: width 0.3s ease; /* Imposta la transizione */
}

#navbarDropdownMenuLink:focus{
    color: var(--White);
}

#navbarDropdownMenuLink:focus.colored{
    color: var(--PrimaryColor);
}


.navbar .nav-item a.active::before,
.nav-item a:focus::before,
.nav-item a:hover::before {
    width: 100%; /* Fai espandere la sottolineatura al 100% */
}

.nav-item a:focus {
    text-underline-offset: 10px;
}

.nav-item a:hover {
    color: var(--White);
}

/* Gestione del colore con l'hover */
.nav-item a.colored:hover{
    color: var(--PrimaryColor);
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Larghezza della barra */
}

.nav-item{
    color: var(--White);
}

.navbar-nav .nav-link-show{
    color: var(--White);
}

.nav-item-colored{
    color: var(--PrimaryColor);
}

.navbar-nav .nav-link-show-colored{
    color: var(--PrimaryColor);
}

.navbar-toggler{
    border: none;
    outline: none;
}

.nav-colored{
    background: var(--PrimaryColor);
    transition: background-color 0.7s ease;
}

.nav-transparent{
    background-color: rgba(238, 222, 231, 0.9); /* Colore di sfondo con trasparenza */
    transition: background-color 0.7s ease;

}

#offcanvasNavbar{
    background-color: var(--PrimaryColor);
    text-align: center;
}

/* ----------- BUTTON CARD Trattamenti ------------ */

.button-card {
    background-color: rgba(255, 255, 255, 0.3); /* Nero trasparente al 50% */
    color: white; /* Colore del testo bianco */
    border: none; /* Rimuove il bordo predefinito */
    padding: 15px 32px; /* Spazio intorno al testo */
    text-align: center; /* Allinea il testo al centro */
    text-decoration: none; /* Rimuove il sottolineato */
    display: inline-block;
    font-size: 16px;
    border-radius: 25px; /* Angoli arrotondati */
}

.button-card:hover {
    background-color: var(--PrimaryColor);
}

.button-card:hover::before,
.button-card:hover::after {
    content: ''; /* Contenuto vuoto per rendere gli pseudo-elementi visibili */
    background-color: var(--PrimaryColor);
    /* Altre proprietà CSS a piacere per personalizzare gli pseudo-elementi */
}

.button-card:active {
    background-color: var(--PrimaryColor);
 }

/* ----------- BUTTON back & next ------------ */

.button-back {
    background-color: transparent;
    color: var(--PrimaryColor); /* Colore del testo bianco */
    padding: 15px 32px; /* Spazio intorno al testo */
    text-align: center; /* Allinea il testo al centro */
    text-decoration: none; /* Rimuove il sottolineato */
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px; /* Angoli arrotondati */
    border: 2px solid; /* Modifica la larghezza del bordo */
    border-color: var(--PrimaryColor); /* Cambia il colore del bordo (sostituisci #ff0000 con il tuo colore desiderato) */
}

.button-back:hover {
    background-color: var(--PrimaryColor);
    color: var(--White);
}

.button-back:hover::before,
.button-back:hover::after {
    content: ''; /* Contenuto vuoto per rendere gli pseudo-elementi visibili */
    background-color: var(--PrimaryColor);
    /* Altre proprietà CSS a piacere per personalizzare gli pseudo-elementi */
}

.button-back:active {
    background-color: var(--PrimaryColor);
}


/* ------------ Effetto fade out per sostituzione elementi in html ------------ */
#mainContainer {
    transition: opacity 0.5s ease-out;
}

.hidden {
    display: none;
}


/* ------------ FOOTER ------------ */
footer {
    background: var(--PrimaryColor);
    margin-top: auto;
}

footer img{
    width: 4.5em;
    height: 4.5em;
}


/* ------------ MAP ------------ */
@media (max-width: 768px) {
    .map-container iframe {
        width: 250px;
        height: 250px;
    }
}

/* ------------ BREADCRUMB ------------ */
.breadcrumb-item + .breadcrumb-item::before {
    content: url("../img/Small/Chevron.svg");
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
    display: inline-block;
    transform: translateY(+12%);
}

.breadcrumb-item.active{
    color: var(--PrimaryColor);
    font-weight: bold;
    font-family: var(--fontMontserrat);
}